body {
    margin: 0;
    padding: 0;
}

.fonte01 {
    font-family: 'Permanent Marker', cursive;
}

.fonte02 {
    font-family: 'Source Code Pro', monospace;
}

.logoContemVida {
    max-width: 200px;
}

.imagFooter {
    border-radius: 5px;
}

#posts a{
    color: #010194;
}